@model Produto

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes</title>
</head>
<body>
    <div>
        <h2>Detalhes do Produto</h2>
        <hr />

        <div class="form-group">
            <div class="">
                <img src="~/ecommerceimagens/@Model.Imagem" alt="@Model.Descricao " class="img-thumbnail" width="200" height="200" />
            </div>
        </div>

        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Preco)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Preco)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quantidade)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quantidade)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Categoria.Nome)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="AdicionarAoCarrinho" asp-controller="Produto" asp-route-id="@Model.ProdutoId" class="btn btn-outline-success">Adicionar</a>
        <a asp-action="Alterar" asp-route-id="@Model.ProdutoId" class="btn btn-outline-success">Editar</a>
        <a asp-action="Index" class="btn btn-outline-success">Voltar a Lista</a>
    </div>
</body>
</html>
