@model Produto

@{
    ViewData["Title"] = "Remover";
}


<h4>Tem certeza que deseja remover esse produto?</h4><br />

<div>
    <h5>Produto</h5>
    <hr />

    <div class="form-group">
        <div class="">
            <img src="~/ecommerceimagens/@Model.Imagem" alt="@Model.Descricao " class="img-thumbnail" width="200" height="200" />
        </div>
    </div>

    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
    </dl>

    <form asp-action="Remover">
        <input type="hidden" asp-for="ProdutoId" />
        <input type="submit" value="Remover" class="btn btn-outline-success" /> 
        <a asp-action="Index" class="btn btn-outline-success">Voltar para lista</a>
    </form>
</div>